/* tab标题的样式 */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px
}
.nTab {
    background: #fff;
    border: 1px solid #e0e0e0;
    overflow: hidden
}

/* 为元素添加none类以隐藏之 */
.none {
    display: none;
}

/* tab标题的样式 */
.nTab .TabTitle li {
    float: left;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

/* 激活状态的颜色 */
.nTab .TabTitle .active {
    background: #fff;
    color: #14c573
}

/* 非激活状态的颜色 */
.nTab .TabTitle .normal {
    background: #f7f7f7;
    color: #a7a7a7
}

/* tab内容样式 */
.nTab .TabContent {
    clear: both;
    overflow: hidden;
    background: #fff;
    padding: 5px;
    display: block
}

/* 普通计点页面的那几个文本框的宽度 */
.text_area{
    width: 95%;
}

/* 文本框聚焦发光效果 */
input[type=text], textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ddd;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}


/* iframe元素的样式 */
.iframe-tall {
    width: 100%;
    /* 根据具体需要设置这里的高度 */
    height: 85vh;
    /* -8px边界抵消嵌套导致的双<body>所引起的额外8px边界 */
    margin: -8px;
}